numpy==1.23.5
pandas
matplotlib
seaborn
plotly==5.24.1
networkx
python-louvain
spacy
scispacy
en-core-sci-lg @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_core_sci_lg-0.5.1.tar.gz
en_ner_bc5cdr_md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_ner_bc5cdr_md-0.5.1.tar.gz
tqdm
requests
statsmodels
scikit-learn
rapidfuzz
nmslib
